@import "node_modules/ol/ol.css";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

html,
body {
  font-family: "Libre Franklin";
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

nav {
  height: 6%;
  background-color: #b3cbe4;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  display: flex;
  height: 94%;
}

#map {
  width: 60%;
  height: 100%;
}

#side-bar {
  box-sizing: border-box;
  width: 40%;

  padding: 1em;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 10% 50% 20%;
}

#user-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#selected-point-content {
  height: 90%;
  overflow-y: scroll;
}

/* #structured-address-lookup-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
} */

#free-form-address-lookup-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
